<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Member">
<resultMap type="Member" id="memberResultSet">
		<id property="memberid" column="MEMBER_ID " />
		<result property="memberpwd" column="MEMBER_PWD " />
		<result property="membernm" column="MEMBER_NM " />
		<result property="memberenrolldt" column="MEMBER_ENROLL_DT " />
		
	</resultMap>
	
 <select id="idCheck" resultType="int" parameterType="Member">
       select count(MEMBER_ID) from member where member_id = #{memberid}
    </select>
     
</mapper>